 body
{
  background-image:url(../images/back.png);
  background-attachment:fixed;
  background-repeat:repeat-x;
}
 #container
{
 width:960px;
 margin:0 auto;
 background-color:white;
 overflow:hidden;
}

/* This collection of awkwardness does the layout of the badged text in the header
   without resorting to images */
   
 header h1{
  background-image:url(../images/banner-960.png);
  height:170px;
}
 header h1 span
{
  display:block;
  margin:0 auto;
  font-size:32px;
}
 header h1 span.caravan
{
  width:132px;
  padding-top:45px;
}
 header h1 span.of
{
  width:70px;
  font-size:24px;
  margin:15px auto 15px auto;
}
 header h1 span.comics
{
  width:120px;
}


 h2
{
  line-height:54px;
  font-size:28px;
  text-align:center;
}


 #artists
{
  width:165px;
  float:left;
  clear:left;
}

/* Navigation menu */
 #nav
{
  overflow:hidden;
  height:54px;
}

 #nav a
{
  text-align:center;
  display:block;
  float:left;
  font-size:28px;
  line-height:54px;
  position:relative;
  top:-54px;
}

 #nav a.home   { width:80px; }
 #nav a.press  { width:85px; }
 #nav a.support{ width:85px; }
 #nav a.blog   { width:75px; }

/* breaks up the two sides of the menu around the strapline */
 #nav span.nav-left  { float:left;  }
 #nav span.nav-right { float:right; }

 #artists h2
{
  text-align:left;
  padding-left:14px;
}
 #artists ul
{
  padding:16px 0;
}
 #artists li
{
  padding-left:16px;
}

 #content
{
  overflow:hidden;
  background-image:url(../images/caravan-large.png);
  background-repeat:no-repeat;
  min-height:555px;
}
 #content-text
{
  width:380px;
  float:right;
  padding:20px;
  background-color:rgba(255,255,255,0.6)
}

 #artist-content
{
  overflow:hidden;
}
 #artist-content-text
{
  width:400px;
  float:left;
}
 #artist-content-text-inner
{
  padding:16px;
}
 #artist-content-image
{
  float:left;
  width:380px;
  overflow:hidden;
  padding-bottom:12px;
}
#artist-content-image .slides,
#artist-content-image img
{
  width:380px;
  height:380px;
}

 #contact
{
  float:right;
  padding-right:20px;
}

#content-about #contact
{
  float:none;
  padding:20px 12px;
}
 footer
{
  padding-left:165px;
}

.get-on-board
{
  float:left;
}

