<section id="content">
	<div id="content-about">
		<h2>Where is the Caravan going?</h2>
	  
	  <table>
		  <thead>
		    <tr>
		      <th>Date</th>
		      <th>Event</th>
		      <th>Attending</th>		      
		    </tr>
		  </thead>
		  <tbody>
		   
		    <tr class="even">
		      <td>April 25th<br/>4-9pm</td>
		      <td><strong>Comic Book Jones</strong> (New York)<br/>Looks like a pretty neat shop, come hang out!<br/><a href="http://comicbookjones.com/">website &raquo;</a></td>
		      <td>TBC But it's looking like all of us. Doug is coming by Viking Longboat so may not have arrived yet.</td>
		    </tr>
		
		    <tr class="odd">
		      <td>April 28th and 29th</td>
		      <td><strong>MOCCA</strong> (New York)<br/>We'll update this when we know where our table is going to be.<br/><a href="http://moccany.org">mocca website &raquo;</a></td>
		      <td>Everyone!</td>
		    </tr>
		    <tr class="even">
		      <td>May 3rd</td>
		      <td><strong>Centre for Cartoon Studies</strong> (Vermont)<br/>Presenting Australian Comics to staff and faculty.<br/><a href="http://cartoonstudies.org">ccs website &raquo;</a></td>
		      <td>Pat, Doug, Gregory, Michael &amp; Matt</td>
		    </tr>
		    <tr class="odd">
		      <td>May 4th</td>
		      <td><strong>Little Island Comics</strong> (Toronto)<br/>Kids! Comics! Comics for Kids!<br/><a href="http://www.littleislandcomics.com/">Little Island website &raquo;</a></td>
		      <td>TBC</td>
		    </tr>
		    <tr class="odd">
		      <td>May 5th and 6th</td>
		      <td><strong>TCAF</strong> (Toronto)<br/>We'll update this when we know where our table is going to be.<br/><a href="http://torontocomics.com">tcaf website &raquo;</a></td>
		      <td>Everyone!</td>
		    </tr>
		    
		    <tr class="even">
		      <td>May 11th</td>
		      <td><strong>Quimby's Bookstore</strong> (Chicago)<br/><a href="http://www.quimbys.com/">Quimby's website &raquo;</a></td>
		      <td>Nearly everyone! Mandy, Andrew and Doug will have flown home by now :(</td>
		    </tr>
		    
		     <tr class="note">
		      <td colspan="3">
		        This calendar is a work in progress, we'll update it as more events get added. Follow us on <a href="http://twitter.com/caravanofcomics">Twitter</a> to stay updated.
		      </td>
		    </tr>
		  </tbody>
		</table>
		
		<h2>Are you a Media? Just want to talk?</h2>
		<p class="intro">By all means <a href="mailto:info@caravanofcomics.com" >get in touch</a> if you want to talk to us some more. We like to talk.<br/> Get yourself a big zip of high-res images <a href="/etc/MediaPack.zip">here</a>. Or you can also get some nice looking press releases here:</p>
		<ul>
		  <li><strong>1st March 2012</strong> <a href="/etc/PressRelease_CaravanOfComics_1mar2012.pdf">Eleven cartoonists tackle North America</a></li>
		</ul>
    <ul id="contact">
			<li><a title="Like Caravan of Comics on Facebook" class="contact-facebook" href="http://facebook.com/caravanofcomics">Facebook</a></li>
			<li><a title="Follow Caravan of Comics on Twitter" class="contact-twitter" href="http://twitter.com/caravanofcomics">Twitter</a></li>
			<li><a title="Watch some videos" class="contact-youtube" href="http://www.youtube.com/user/caravanofcomics">YouTube</a></li>
		</ul>
	</div>
</section>