<section id="content">
	<div id="content-about">
		<h2>Friends of the Caravan</h2>
	  <p class="intro">Thanks to all these people for their support and awesomeness</p>
	  <ul>
	    <li>Bruce Mutard <a href="http://brucemutard.com">brucemutard.com</a></li>
	    <li>Luke Pickett <a href="http://lukepickett.com.au">lukepickett.com.au</a></li>
	    <li>Matt Huynh <a href="http://matthuynh.com">matthuynh.com</a></li>
	  </ul>
	  
<ul id="contact">
			<li><a title="Like Caravan of Comics on Facebook" class="contact-facebook" href="http://facebook.com/caravanofcomics">Facebook</a></li>
			<li><a title="Follow Caravan of Comics on Twitter" class="contact-twitter" href="http://twitter.com/caravanofcomics">Twitter</a></li>
			<li><a title="Watch some videos" class="contact-youtube" href="http://www.youtube.com/user/caravanofcomics">YouTube</a></li>
		</ul>
	</div>
</section>