<section id="content">
	<div id="content-about">
		<h2>Friends of the Caravan</h2>
	  <p class="intro">Thanks to all these people for their support and awesomeness</p>
	  <ul>
	    <li>Bruce Mutard <a href="http://brucemutard.com">brucemutard.com</a></li>
	    <li>Luke Pickett <a href="http://lukepickett.com.au">lukepickett.com.au</a></li>
	    <li>Matt Huynh <a href="http://matthuynh.com">matthuynh.com</a></li>
	  </ul>
	  <p>And all these fine people that got on board the Caravan fundraiser in one way or another</p>
	  <ul class="friends">
	  <li>David Mahler</li>
	  <li>Matt Nicholls</li>
	  <li>Rebecca Clements</li>
	  <li>Rebecca Hayes</li>
	  <li>Neil Sanders</li>
	  <li>Mark Selan</li>
	  <li>Sarah Catherine Firth</li>
	  <li>Phil Willis</li>
	  <li>Lada Dedic</li>
	  <li>Sophie Benjamin</li>
	  <li>Yamamoto Testuya</li>
	  <li>Adam Pasion</li>
	  <li>Bruce Taylor</li>
	  <li>Monika Mackowiak</li>
	  <li>Jessica &amp; Grug</li>
	  <li>Eloise Quinlivan</li>
	  <li>Lisa McDonald</li>
	  <li>Arran Mckenna</li>
	  <li>Andrew Lamont</li>
	  <li>Benjamin Gilmour</li>
	  <li>Amelia Zaraftis</li>
	  <li>James Andre</li>
	  <li>Erica Wagner</li>
	  <li>Lisa Fletcher</li>
	  <li>Erin Hopkins</li>
	  <li>Jason Franks</li>
	  <li>Morgan Newell</li>
	  <li>Peter Hollo</li>
	  <li>Tim Molloy</li>
	  <li>Megan Nairn</li>
	  <li>Stewart Fulton</li>
	  <li>Andrei Buters</li>
	  <li>Tomomi Sarafov</li>
	  <li>Julie Ditrich</li>
	  <li>Darren Close</li>
	  <li>Greg Gates</li>
	  <li>Tim McEwen</li>
	  <li>Bjarni Wark</li>
	  <li>Kieran Mangan</li>
	  <li>Adam Milburn</li>
	  <li>Thi Bui</li>
	  <li>Katie Shanahan</li>
	  <li>Aleisha Cutler</li>
	  <li>Lisa Dempster</li>
	  <li>Gavin Thompson</li>
	  <li>Jennifer Mills</li>
	  <li>Jase Harper</li>
	  <li>David Huyck</li>
	  <li>Emma-Jean Stewart</li>
	  <li>Aimee Jones</li>
	  <li>Marta Tesorio</li>
	  <li>Nicholas Bate</li>
	  <li>Clive Bourne</li>
	  <li>Shaun Tan</li>
	  <li>Bevan Sly</li>
	  <li>Nadine Kessler</li>
	  <li>Leone Brialey</li>
	  <li>Elizabeth MacFarlane</li>
	  <li>Adam Wajnberg</li>
	  <li>Cam Thompson</li>
	  </ul>
<ul id="contact">
			<li><a title="Like Caravan of Comics on Facebook" class="contact-facebook" href="http://facebook.com/caravanofcomics">Facebook</a></li>
			<li><a title="Follow Caravan of Comics on Twitter" class="contact-twitter" href="http://twitter.com/caravanofcomics">Twitter</a></li>
			<li><a title="Watch some videos" class="contact-youtube" href="http://www.youtube.com/user/caravanofcomics">YouTube</a></li>
		</ul>
	</div>
</section>