<section id="content">
	<div id="content-text">
		<p>In April-May of this year a group of Australian comic creators are coming together for a tour of North-Eastern USA and Canada. <br/>Encompassing the Museum of Comic and Cartoon Art (MoCCA) in New York, the Toronto Comics Festival (TCAF), the Centre for Cartoon Studies, in Vermont and Quimby's Bookstore in Chicago</p>
		<p>Nothing like this has been attempted before by a group of Australian cartoonists, and it could be the furthest a group of cartoonists has ever travelled.</p>
		<p><a href="/support.html" class="get-on-board">Get on Board.</a></strong></p>
<ul id="contact">
			<li><a title="Like Caravan of Comics on Facebook" class="contact-facebook" href="http://facebook.com/caravanofcomics">Facebook</a></li>
			<li><a title="Follow Caravan of Comics on Twitter" class="contact-twitter" href="http://twitter.com/caravanofcomics">Twitter</a></li>
			<li><a title="Watch some videos" class="contact-youtube" href="http://www.youtube.com/user/caravanofcomics">YouTube</a></li>
		</ul>
		<div id="caravan-image"></div>
		
	</div>

</section>
	