<section id="content">
	<div id="content-about">
		<h2>How do I get aboard the Caravan?</h2>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/Wg48_HB8nLs" frameborder="0" allowfullscreen></iframe>
		<p>Right now you can go support the Caravan on <a href="http://www.indiegogo.com/caravanofcomics">Indygogo</a>. Get some original art! Comics! Postcards! Love!</p>
	  <p>There are <em>all sorts</em> of different ways to get on board - the most important thing is come say hi if you can! Check out the <a href="/about.html">details page</a> and see where we're going to be and when. We're coming all this way to meet you, you know?</p>
	  <p>You can also follow us on <a href="http://facebook.com/caravanofcomics" title="Caravan of comics on Facebook">Facebook<a/> and <a href="http://twitter.com/caravanofcomics" title="Follow Caravan of Comics on Twitter" >Twitter</a> - and tell two friends to do the same. And tell them to tell two of their friends. And so on.</p>
	  <p>Pretty soon we'll be launching something of a fundraiser to help offset some of the ludicrous costs associated with getting a dozen people to the other side of the world for three weeks, so keep an eye out for that, okay?
	  </p><p><strong>In the meantime</strong>, you can order some fine comics from these caravaners, you know?</p>
	  <ul>
	    <li>David is taking preorders for the next Showman collection <a href="http://www.indiegogo.com/Preorder-The-Bret-Braddock-Adventures">here</a></li>
	    <li>Andrew has his minicomics <a href="http://andrewfulton.etsy.com">here</a></li>
	    <li>Pat is selling <em>Blue</em> <a href="http://www.boltonblue.com/promo.html">here</a></li>
	    <li>You can get Mandy's <em>Sensitive Creatures</em> <a href="http://www.allenandunwin.com/default.aspx?page=94&book=9781742372167">here</a></li>
	  </ul>
	  
		<ul id="contact">
			<li><a title="Like Caravan of Comics on Facebook" class="contact-facebook" href="http://facebook.com/caravanofcomics">Facebook</a></li>
			<li><a title="Follow Caravan of Comics on Twitter" class="contact-twitter" href="http://twitter.com/caravanofcomics">Twitter</a></li>
			<li><a title="Watch some videos" class="contact-youtube" href="http://www.youtube.com/user/caravanofcomics">YouTube</a></li>
		</ul>
	</div>
</section>